/* CSS fixes for IE7 */

body {
  padding: 0px;
}

.ecoAsVir .add-object,
.ecoAsVir .field ul li,
.ecoAsVir .field,
#topnav li {
  display: inline;
}

.ecoAsVir .matrix .category-left div {
  padding-bottom: 8px;
}

.ecoAsVir .matrix ul {
  width: 134px;
}

.ecosys fieldset {
  margin-top: 5px;
}

.ecoAsVir .ecosystem-types { /* red and green tables*/
    width: 880px;
}

body .ecoAsVir .ecosystem li {
  padding-top: 5px;
}

body .ecoAsVir .field {
  margin-left: 0px;
}

