
body {
    font-family: Arial;
    font-size: 13px;
}

.hide {
    display: none;
}

.error {
    font-size: 12px;
    color: red;
}

legend {
    font-weight: bold;
    font-size: 14px;
}

fieldset {
    margin-bottom: 15px;
}

.row {
    overflow: hidden;
    padding: 5px 0;
}

.row label {
    float: left;
    width: 220px;
}

.row .field,
.row .other {
    margin-left: 230px;
}

.row .other input {
    width: 600px;
}

.required {
    font-size: 12px;
    color: red;
}