
body {
    font-family: Arial;
    font-size: 13px;
}

.hide {
    display: none;
}

.error {
    font-size: 12px;
    color: red;
}

legend {
    font-weight: bold;
    font-size: 14px;
}

fieldset {
    margin-bottom: 15px;
}

.row,
.row-simple {
    overflow: hidden;
    padding: 5px 0;
}

.row label {
    float: left;
    width: 220px;
}

.row .field,
.row .other,
.row table  {
    margin-left: 230px;
}

.row-simple label {
    float: left;
    width: 90px;
}

.row-simple .field {
    margin-left: 100px;
}

.row .other input {
    width: 600px;
}

.required {
    font-size: 12px;
    color: red;
}

.ecosystem-types {

}

.ecosystem-types td {
    vertical-align: top;
}

.ecosystem label {
    display: none;
}

.ecosystem ul,
.ecosystem li ,
.reset-ul,
.reset-ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ecosystem th {
    padding: 5px 8px;
    width: 120px;
}

.ecosystem .category {
    font-style: italic;
    text-align: left;
    background: #eee;
}

.ecosystem .category-left {
    text-align: left;
    width: 250px;
}

.ecosystem .check-column {
    text-align: center;
    width: 120px;
}


#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.resources {
    background: #eee;
    width: 600px;
}

.resources caption {
    text-align: left;
    font-weight: bold;
    padding-bottom: 10px;
}

.resources th,
.resources td {
    background: #fff;
    padding: 6px 10px;
}

.resources .label {
    width: 160px;
}