
/*  GENERAL */
body {
    font-family: Arial;
    font-size: 13px;
}

.hide {
    display: none;
}

.error {
    font-size: 12px;
    color: red;
}

.row-simple .field {
    margin-left: 100px;
}

.row-simple label {
    float: left;
    width: 90px;
}

.row-simple .field {
    margin-left: 100px;
}

.row .other {
    padding-top: 10px;
    position: relative;
    left: -5px;
}
.row .other input {
    width: 600px;
}

.required {
    font-size: 12px;
    color: red;
}

.ecosystem-types td {
    vertical-align: top;
}

.ecosystem label {
    display: none;
}

.reset-ul,
.reset-ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ecosystem th,
.ecosystem ul {
    padding: 5px 8px;
    font-size: 0.95em;
}

.ecosystem-service-types th {
    padding: 5px 20px; /*yellow table's th*/
}

.ecosystem .category {
    text-align: left;
    font-size: 14px;
}

.ecosystem .category-left {
    text-align: left;
}

.ecosystem .check-column {
    text-align: center;
    width: 120px;
}

.ecosystem .check-column.odd {
    /*background: #B4DBDB;*/
    max-width: 60px;
}

.ecosystem .check-column.even {
    /*background: #D4F1F1;*/
    max-width: 60px;
}

.ecosystem .check-column.odd li {
    background: #B4DBDB;
}

.ecosystem .check-column.even li {
    background: #D4F1F1;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.resources {
    background: #eee;
    width: 100%;
}

.resources caption {
    text-align: left;
    font-weight: bold;
    padding-bottom: 10px;
}

.resources th,
.resources td {
    background: #fff;
    padding: 6px 10px;
}

.resources .label {
    width: 160px;
}


/*  restyle the form */
.ecoAsVir fieldset {
	border: 2px solid #B4D8AE;
	margin-bottom: 15px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	width: 98%;
}

.ecoAsVir .second {
	margin-top: 30px;
}

.ecoAsVir legend {
	padding: 0px 5px;
	color: #333;
	margin-left: 8px;
	font-weight: bold;
}

.ecoAsVir label {
	width: 250px;
	float: left;
	color: #5A5A5A;
}

.ecoAsVir .field {
	margin-left: 250px;
}

.ecoAsVir .row {
	margin: 0px;
	padding: 13px 5px;
	border-bottom: 1px dashed #DDD;
	overflow: hidden;
}

.ecoAsVir .row.lastOfType {
	border-bottom: 0px;
}

.ecoAsVir .required {
	color: red;
	padding: 0px 3px;
}

.ecoAsVir #title,
.ecoAsVir #english_title,
.ecoAsVir #origin_other,
.ecoAsVir #url,
.ecoAsVir #content_other,
.ecoAsVir #key_elements,
.ecoAsVir #feedback,
.ecoAsVir #feedback_other {
	width: 597px;
}

.ecoAsVir .other {
	margin-left: 255px;
	margin-bottom: 5px;
}

.ecoAsVir .add-object {
	padding: 5px 5px 0px 0px;
	display: inline-block;
}

.indent {
    margin-left: 250px;
}


/*  TABLES */
.ecoAsVir .ecosystem-types { /* red and green tables*/
    width: 890px;
}

.ecoAsVir .ecosystem-service-types { /* yellow table */
    clear: both;
}

.ecoAsVir .ecosystem .category-left {
	vertical-align: top;
}

.ecoAsVir .ecosystem .category-left div {
    width: 246px;
    border-bottom: 1px solid #FFF;
    padding: 5px 3px 6px 10px;
    color: #444;
}

.ecoAsVir th.even {
	background: #D4F1F1;
  max-width: 4.6em; /*  only to avoid horizontal scrolling for this table */
}

.ecoAsVir th.odd {
	background: #B4DBDB;
  max-width: 4.6em; /*  only to avoid horizontal scrolling for this table */
}

/* red table  */
.ecoAsVir #ecosystem-types-issues .category,
.ecoAsVir #ecosystem-types-issues .category-left div {
    background: #FD9288;
}

/* green table  */
.ecoAsVir #ecosystem-types-methods .category,
.ecoAsVir #ecosystem-types-methods .category-left div {
    background: #76D176;
}

/*  yellow table */
.ecoAsVir #ecosystem-service-types .category,
.ecoAsVir #ecosystem-service-types .category-left div {
    background: #EBF38E;
}

.ecoAsVir .ecosystem li {
	border-bottom: 1px solid #fff;
  padding: 4px 0px; /*4px 3px 4px 3px;*/
  margin: 0;
}

.ecoAsVir #ecosystem-service-types li {
    width: 100%;
}

.ecoAsVir .ecosystem ul {
	list-style-type: none;
	padding: 0px;
  margin: 0px;
  width: 100%;
}

.ecoAsVir .row.special .other {
    margin-left: 15px;
}

.ecoAsVir .category-left:empty,
.ecoAsVir #ecosystem-service-types .category-left:empty {
	border: 0px;
	background: #fff;
}

#ecosystem_types_issues-cropland {
    padding-right: 8px;
}


/* FIXINGS from jQuery */
body .ui-dialog .ui-dialog-titlebar-close span {
    margin-top: -7px;
    margin-left: -7px; /* margin for span inside close button, from browser alert window */
}

.login-container,
.login-title {
    padding: 20px;
    margin: 15px auto;
    width: 500px;
}
.login-container {
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom: 1px solid #d1dfbd;
    border-left: 1px solid #d1dfbd;
    border-right: 1px solid #dee9ce;
    border-top: 1px solid #dee9ce;
    background: #e4eed6;
    margin-top: 0;
}
.login-container label {
    width: 120px;
    float: left;
}
.login-container .row {
    overflow: hidden;
    height: 40px;
}
.login-container input[type=text],
.login-container input[type=password] {
    padding: 4px;
    width: 300px;
}
.login-title {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #74864f;
    background: #74864f;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    margin-bottom: 0;
}

.login-message {
    font-size: 18px;
    text-align: center;
}

.alert {
    background-color: #f8f5e4;
    padding: 6px;
    margin-bottom: 20px;
}

.alert.error {
    background-color: #f8f5e4;
    padding: 6px;
    color: #700;
}

div#vl-menu {
    padding-bottom: 7px;
    margin-bottom: 14px;
    border-bottom: 1px solid #998640;
}

ul#navigation {
list-style-type:none;
margin:0;
padding:0;
}

ul#navigation li {
display:inline;
}

ul#navigation li a {
    padding: 8px;
    font-weight: bold;
    color: #fff;
    background-color: #84af4d;
    text-decoration: none;
}

ul#navigation li.active a {
    padding: 8px;
    font-weight: bold;
    color: #fff;
    background-color: #998640;
    text-decoration: underline;
}

ul#navigation li a:visited{
    color: white;
    text-decoration: none;
}

ul#navigation li a:active{
    color: white;
    text-decoration: none;
}

.feedback textarea {
    height: 80px;
    width: 100%;
}

body #menunav {
    width: 96%; /* avoids  horizontal scrolling on all pages*/
}

#middle_content table.dataTable tr.odd td.sorting_1{
    background-color: #fdfdfd;
}

#middle_content table.dataTable tr.even td.sorting_1{
    background-color: #f0f0f0;
}

th.date-added{
    width: 70px;
}

.table thead .sorting, table.table thead .sorting_asc, table.table thead .sorting_desc, table.table thead .sorting_asc_disabled, table.table thead .sorting_desc_disabled {
    cursor: pointer;
}
.table thead .sorting {
    background: url("/static/js/datatables/images/sort_both.png") no-repeat scroll right center transparent;
}
.table thead .sorting_asc {
    background: url("/static/js/datatables/images/sort_asc.png") no-repeat scroll right center transparent;
}
.table thead .sorting_desc {
    background: url("/static/js/datatables/images/sort_desc.png") no-repeat scroll right center transparent;
}
.table thead .sorting_asc_disabled {
    background: url("/static/js/datatables/images/sort_asc_disabled.png") no-repeat scroll right center transparent;
}
.table thead .sorting_desc_disabled {
    background: url("/static/js/datatables/images/sort_desc_disabled.png") no-repeat scroll right center transparent;
}
