{% extends "layout.html" %}


{% block scripts %}

<script>

  $(function () {

    $('select[multiple]').select2({
      width: '600px',
    });

    $('.tagit').select2({
      width: '600px',
      tags: [],
      tokenSeparators: []
    });

    $('#spatial').on('change', function () {

      if($(this).val() == '1') {
        $('#spatial_scale').parents('.row').show();
        $('#countries').parents('.row').show();
      } else {
        $('#spatial_scale').parents('.row').hide();
        $('#countries').parents('.row').hide();
      }

    }).change();
  });

</script>

{% endblock %}


{% macro render_field(field) %}

  <label for="{{ field.id }}">
    {{ field.label.text }}
    {% if field.flags.required %}
      <span class="required">*</span>
    {% endif %}
  </label>
  <div class="field">
    {{ field(**kwargs) }}
    {% if field.errors %}
      <div class="error">{{ field.errors[0] }}</div>{% endif %}
  </div>

{% endmacro %}


{% macro render_other(field) %}
  <div class="other">
    <p>other</p>
    {{ review_form.content_other(class_='tagit') }}
  </div>
{% endmacro %}


{% block content %}

<form method="POST" enctype="multipart/form-data">

  <fieldset>
    <legend>Resource identification</legend>

    <div class="row">
      {{ render_field(resource_form.title) }}
    </div>

    <div class="row">
      {{ render_field(resource_form.language) }}
    </div>

    <div class="row">
      {{ render_field(resource_form.english_title) }}
    </div>

    <div class="row">
      {{ render_field(resource_form.authors) }}
    </div>

    <div class="row">
      {{ render_field(resource_form.organisations) }}
    </div>

    <div class="row">
      {{ render_field(resource_form.year_of_publication) }}
    </div>

    <div class="row">
      {{ render_field(review_form.origin) }}
      {{ render_other(review_form.origin_other) }}
    </div>

  </fieldset>

  <fieldset>
    <legend>Document availability and status</legend>

    <div class="row">
      {{ render_field(review_form.status) }}
    </div>

    <div class="row">
      {{ render_field(review_form.availability) }}
    </div>

    <div class="row">
      {{ render_field(review_form.languages) }}
    </div>

    <div class="row">
      {{ render_field(review_form.url) }}
    </div>

    <div class="row">
      {{ render_field(review_form.filename) }}
    </div>

    <div class="row">
      {{ render_field(review_form.spatial) }}
    </div>

    <div class="row hide">
      {{ render_field(review_form.spatial_scale) }}
    </div>

    <div class="row hide">
      {{ render_field(review_form.countries) }}
    </div>

    <div class="row">
      {{ render_field(review_form.content) }}
      {{ render_other(review_form.content_other) }}
    </div>

    <div class="row">
      {{ render_field(review_form.key_elements) }}
    </div>

    <div class="row">
      {{ render_field(review_form.feedback) }}
      <div class="other">
        <p>other</p>
        {{ review_form.feedback_other }}
      </div>
    </div>

  </fieldset>

  <div class="row">
    <button type="submit">Submit</button>
  </div>

</form>

{% endblock %}