{% extends "layout.html" %}
{% from "_form_helpers.html" import render_field %}


{% block content %}

<br />
<form method="POST" enctype="multipart/form-data" class="ecoAsVir">

  <fieldset class="feedback">
  	<legend>Give us your feedback on the virtual library tools</legend>
    <div class="row">
      <p>The virtual library tool for uploading and  documenting references is under development and we welcome your feedback  for improving it. Let us know about your experience while registering  a new document:</p>
      
      <ul>
	      <li>Was it easy?</li>
      	<li>Did you find something difficult to fill  in?</li>
      	<li>Are the questions clear enough?</li>
      	<li>Do you think that the information collected is useful and adequate?</li>
      	<li>Would you like to suggest other fields to be documented?</li>
      </ul>
      {{ render_field(form.description) }}
    </div>
    <div class="row lastOfType file-container">
       {{ render_field(form.files) }}
      <div style="margin-left: 250px;">
        <a href="" class="add-another-file" data-name="admin_feedback_files">
          Add another</a>
      </div>
    </div>
  </fieldset>

  <div class="row lastOfType">
	  <button type="submit">Submit</button>&nbsp;
	  <a href="{{ url_for('.resources') }}" class="skip">Skip this step</a>
  </div>

</form>

{% endblock %}