{% extends "frame" %}
{% from "_bits.html" import flash_messages %}

{% block frame_title %} - Virtual Library{% block title %}{% endblock %}{% endblock %}

    {% block head %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

    {% assets "packed_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% assets "packed_ie_css" %}
     <!--[if IE 7]>
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
      <![endif]-->
    {% endassets %}

    {% assets "packed_js" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block scripts %}{% endblock %}

    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-40087299-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>

    {% endblock head %}

    {% block login %}
    {% if g.user.is_anonymous() %}
      <a href="{{ url_for('auth.login') }}">LOGIN</a>
      {% else %}
      <a href="{{ url_for('auth.logout') }}">LOGOUT ({{ g.user.id|upper }})</a>
      {% endif %}
    {% endblock %}

    {% block frame_content %}
    <div id="vl-menu">
      {% set navigation_bar = [
          (url_for('library.home'), 'about', 'About Ecosystem assessments Virtual Library', 'About'),
          (url_for('library.resources', filter_by=''), 'resources', 'Browse Resources', 'Explore'),
          (url_for('library.resources'), 'my-resources', 'Resources added or reviewed by you', 'My List'),
          (url_for('library.edit', resource_type='literature'), 'contribute', 'Contribute to the Virtual Library', 'Contribute')
      ] -%}
      {% set active_page = active_page|default('unset') -%}
      <ul id="navigation">
      {% for href, id, title, caption in navigation_bar %}
        <li{% if id == active_page %} class="active"{% endif
        %}><a href="{{ href|e }}" title="{{ title }}">{{ caption|e }}</a></li>
      {% endfor %}
      </ul>
    </div>
    <div class="message information">
      {% block flash_messages %} {{ flash_messages() }} {% endblock %}
    </div>
    {% block content %}{% endblock %}
    {% endblock frame_content %}
