{% extends "layout.html" %}

{% if filter_by == "me" %}
  {% set active_page = "my-resources" -%}
{% else %}
  {% set active_page = "resources" -%}
{% endif %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript">
    $(document).ready(function(){
      $("#resources").dataTable();
    }); 
  </script>
{% endblock %}

{% block content %}

<h3>Resources</h3>

<table cellspacing="1" cellpadding="0" class="resources" id="resources">

  <thead>

    <tr>
      <th>Title</th>
      <th>English title</th>
      <th>Language</th>
      <th>Contributor</th>
      <!--<th>Type</th>-->
      <th class='date-added'>Date added</th>
    </tr>

  </thead>

  <tbody>

    {% for resource in resources %}
    <tr>
      <td>

        <a href="{{ url_for('.view', resource_id=resource.id) }}">
          {{ resource.title }}</a>
        {% if resource.user.id == g.user.id %}
          <span style="color: #468847">(added by me)</span>
        {% endif %}
      </td>
      <td>{{ resource.english_title }}</td>
      <td>{{ resource.language_verbose }}</td>
      <td>{{ resource.user }}</td>
      <!--<td>{{ resource.resource_type_verbose }}</td>-->
      <td>{{ resource.reviews[0].datetime.strftime('%Y-%m-%d') }}</td>
    </tr>
    {% endfor %}

  </tbody>

</table>

{% endblock %}
